{% import "macros.html" as macros %}
<!DOCTYPE HTML>
<html>
  <head>
    {% include 'includes.html' %}
    <script defer src="{{ url_for(name='static', arg='gallery.js') }}"></script>
    <meta property="og:title" content="NSPic → Index" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ site_info.site_title }}" />
    <meta property="og:url" content="{{ site_info.url_domain ~ url_for(name='index', arg='') }}" />
    <meta property="og:image" content="{{ site_info.url_domain ~
                                       url_for(name='static', arg='film.svg') }}" />
    <link rel="alternate" type="application/atom+xml" title="Atom feed"
          href="{{ url_for(name='feed', arg='') }}" />
    <title>NSPic → Index</title>
  </head>
  <body>
    {% include 'include-nav.html' %}
    <main>
    <ul class="PostList">
      {% for post in posts -%}
      <li class="PostListItem">
        {{ macros::post_view(post=post, details=false) }}
      </li>
      {% endfor %}
    </ul>
    <div id="Pagination">
      {% if prev is defined %}
      <a class="Button" href="{{ url_for(name='index', arg='') ~ '?start=' ~ prev|as_str }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        </svg>
      </a>
      {% endif %}
      {% if next is defined %}
      <a class="Button" href="{{ url_for(name='index', arg='') ~ '?start=' ~ next|as_str }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      </a>
      {% endif %}
    </div>
    </main>
    {% include 'include-footer.html' %}
  </body>
</html>
