{% import "macros.html" as macros %}
<!DOCTYPE HTML>
<html>
  <head>
    {% include 'includes.html' %}
    <script defer src="{{ url_for(name='static', arg='gallery.js') }}"></script>
    <meta property="og:title" content="{{ 'NSPic → ' ~ post.desc | truncate(length=20) }}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ site_info.site_title }}" />
    <meta property="og:url" content="{{ site_info.url_domain ~ url_for(name='post', arg=post.id|as_str) }}" />
    <meta property="og:image" content="{{ site_info.url_domain ~ url_for(name='image_file', arg=post.images[0].thumbnail) }}" />
    <title>{{ 'NSPic → ' ~ post.desc | truncate(length=20) }}</title>
  </head>
  <body>
    {% include 'include-nav.html' %}
    <main>
      <div class="PostView">
        {{ macros::post_view(post=post, details=true) }}
      </div>
    </main>
    {% include 'include-footer.html' %}
  </body>
</html>
